@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1170px;
        max-height: 1000px;
    }
}

@media only screen and (min-width: 100px) and (max-width: 1000px) {
    .myimg{
     justify-items: center;
     height:200px;
     width: 200px;
    }
    #image{
        height:250px;
        width:209px;
        text-align:center;
        justify-content: center;
        margin: 30px;
        border-radius: 35px;
        }
   

}
